SECRET_KEY_BASE_VALUE=CHANGE_THIS
SMTP_ADDRESS_VALUE=CHANGE_THIS
SMTP_DOMAIN_VALUE=CHANGE_THIS
SMTP_PASSWORD_VALUE=CHANGE_THIS
SMTP_PORT_VALUE=CHANGE_THIS
SMTP_USERNAME_VALUE=CHANGE_THIS
VIRTUAL_HOST_VALUE=CHANGE_THIS
GEOCODER_LOOKUP_APP_ID_VALUE=CHANGE_THIS
GEOCODER_LOOKUP_APP_CODE_VALUE=CHANGE_THIS
DOCKER_IMAGE_TAG_VALUE=0.14.4
